body
{
    background-color: black;
}
#div
{
    display: flex;
    margin-top: 35vh;
    margin-left: 35%;
    flex-direction: column;
    border: 0.1rem;
    border-width: 0.1rem;
    border-color: gray;
    background-color: rgb(59, 158, 239);
    width: 35%;
    padding: 5px;
    text-align: center;
    color: gold;
    border-radius: 20%;
    box-shadow: 1rem 1rem 1rem rgb(112, 143, 195);
}
#div input
{
    padding: 5px;
    margin: 2px;
}
#div .value
{
    color: gold;
}
#div p
{
    margin-left: 170px;
    display: flex;
    color:gold;
    font-weight: bolder;
}